<?xml version="1.0" encoding="UTF-8" ?>     
<!DOCTYPE configuration     
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>  
        <!--给实体类起一个别名 user -->  
        <typeAlias type="com.fun.playctrl.dest.vo.AreaTypeVO" alias="AreaTypeVO" />  
        <typeAlias type="com.fun.playctrl.dest.vo.AreaVO" alias="AreaVO" />  
        <typeAlias type="com.fun.playctrl.dest.vo.ClientTypeVO" alias="ClientTypeVO" />  
        <typeAlias type="com.fun.playctrl.dest.vo.GalleryAreaTaticVO" alias="GalleryAreaTaticVO" />  
        <typeAlias type="com.fun.playctrl.dest.vo.GalleryClientVO" alias="GalleryClientVO" />  
        <typeAlias type="com.fun.playctrl.src.vo.MediaAreaTaticRelaVO" alias="MediaAreaTaticRelaVO" />
        <typeAlias type="com.fun.playctrl.src.vo.MediaClientVO" alias="MediaClientVO" /> 
        <typeAlias type="com.fun.playctrl.src.vo.MediaVO" alias="MediaVO" />  
    </typeAliases>  
    <!--数据源配置  这块用 mysql数据库 -->  
    <environments default="development">  
        <environment id="read">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="${read_driver}" />
				<property name="url" value="${read_url}" />
				<property name="username" value="${read_username}" />
				<property name="password" value="${read_password}" />
			</dataSource>
		</environment>
		<environment id="write">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="{write_driver}" />
				<property name="url" value="${write_url}" />
				<property name="username" value="${write_username}" />
				<property name="password" value="${write_password}" />
			</dataSource>
		</environment>   
    </environments>  
    <mappers>  
        <!--userMapper.xml装载进来  同等于把“dao”的实现装载进来 -->  
        <mapper resource="myBatis/destAreaMapper.xml" />  
        <mapper resource="myBatis/destAreaTypeMapper.xml" />  
        <mapper resource="myBatis/destClientTypeMapper.xml" />
        <mapper resource="myBatis/destGalleryAreaTaticMapper.xml" />  
        <mapper resource="myBatis/destGalleryClientMapper.xml" />  
        <mapper resource="myBatis/srcMediaAreaTaticRelaMapper.xml" />  
        <mapper resource="myBatis/srcMediaClientMapper.xml" />  
        <mapper resource="myBatis/srcMediaMapper.xml" />    
    </mappers>  
</configuration> 